/* Reset des marges, padding et autres styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Style de la barre de navigation */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .Logo {
    font-weight: 700;
    font-size: 2.5rem;
    margin-left: 22px;
    color: #333;
    cursor: pointer;
    transition: font-weight 0.3s ease;
}

.navbar .add-book {
    font-size: 1rem;
    margin-right: 32px;
    padding: 0.5rem 1rem;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e1e1e1;
    font-weight: 600;
    caret-color: transparent;
    transition: background-color 0.3s ease, font-weight 0.3s ease;
}

/* Style du modal pour ajouter un livre */
.close-modal-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.modal-title {
    font-size: 1.5rem;
    color: #333;
}

.close-modal-btn {
    font-size: 1.5rem;
    font-weight: 900;
    background: transparent;
    cursor: pointer;
    border: none;
    color: #ff2222;
    caret-color: transparent;
    transition: font-weight 0.3s ease;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form input,
form .checkbox {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form .checkbox {
    display: flex;
    justify-content: flex-end;
    margin-right: 2px;
    gap: 0.5rem;
}

form input[type="submit"] {
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: #2d2d2d;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input::placeholder {
    font-size: 1rem;
}

.library-container {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1rem;
    overflow-y: auto;
}

.book-card {
    padding: 0.5rem 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.remove-card-btn {
    background: #f0eef1;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.read {
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.redbtn {
    background-color: #c51209;
}

.greenbtn {
    background-color: #0ca60c;
}

/* Style du footer */
.footer {
    background-color: #484848; 
    color: #f1f1f1;           
    text-align: center;       
    padding: 20px 0;          
    width: 100%;              
    position: fixed;          /* Fixer le footer en bas de l'écran */
    bottom: 0;                /* Aligner le footer en bas de la page */
}


.footer p {
    margin: 0;                
    font-size: 14px;          
    line-height: 1.5;         
    display: inline-block;    
}

/* Style du lien GitHub */
.github-link {
    color: #f1f1f1;          
    margin-left: 10px;       
    text-decoration: none;    
    display: inline-block;   
    vertical-align: middle;   
}

/* Style de l'icône GitHub */
.github-link i {
    font-size: 24px;          /* Taille de l'icône */
    transition: color 0.3s;   /* Transition pour effet de survol */
}


/* Effet de survol pour l'icône GitHub */
.github-link:hover i {
    color: #6e5494;           /* Changer la couleur au survol */
}

/* Animation pour faire apparaître le dialog */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

/* Animation pour faire disparaître le dialog */
@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    to {
        opacity: 0;
        transform: translate(-50%, -40%);
    }
}

/* Classes pour déclencher les animations */
dialog.show {
    animation: fadeIn 0.5s forwards;
}

dialog.hide {
    animation: fadeOut 0.5s forwards;
}

/* Styles pour les petits écrans */
@media only screen and (max-width: 600px) {
    .library-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem; /* Ajout de padding pour l'espace intérieur */
    }
    
    .book-card {
        width: 70%;
        max-width: 300px;
        padding: 1.5rem;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
    .book-card p {
        margin: 0;
    }
}
